@model  int

@{ 
    ViewBag.Title = "404- Not Found";

}

       

<div class="alert alert-danger mt-1 mb-2">
    <h4>404 Not Found Error--!</h4><hr />
    <h3>Emploee Id =@Model Can not be Found</h3>
</div>